<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>


<div id="app">

    <template v-for="branch in branches">

        <input :value="branch"
               type="radio"
               v-model="currentBranch">
        {{branch}}
    </template>

    <ul>
        <li v-for="commit in commits">
            <a :href="commit.html_url" target="_blank">{{commit.commit.message.substring(1,20)}}</a>
            by {{commit.author.login}}
            at {{commit.commit.author.date}}
        </li>
    </ul>

    <div>
        === debug ===<br>
        currentBranch: {{currentBranch}}<br>
        commits: {{commits}}
    </div>

    <!--    <br>-->
    <!--    <input id="unfinished" type="radio" v-model="filter" value="unfinished"><label for="unfinished">Unfinished</label>-->
    <!--    <br>-->
</div>


<script src="https://unpkg.com/vue"></script>
<script src="js/all.js"></script>
</body>
</html>